@model e_commerce_web.Models.Category

@{
    ViewData["Title"] = "Details Category";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Detail Category</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/trang-admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="/Admin/Admin_Categories/Index">Category</a>
            <span class="breadcrumb-item active">Detail Category</span>
        </nav>
    </div>
</div>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Published)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Published)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchemaMarkup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchemaMarkup)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
