@model e_commerce_web.Data.ViewModel.ProfileVM

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="account-page-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="account-address-tab" data-bs-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-active" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="true">Account Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="change-password-tab" data-bs-toggle="tab" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false">Change Password</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                    <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                        <div class="myaccount-details">
                            <form method="Post" asp-controller="Profile" asp-action="Edit" class="myaccount-form">

                                <input type="hidden" asp-for="@Model.customer.CustomerId" />
                                <input type="hidden" asp-for="@Model.customer.Password" />
                                <input type="hidden" asp-for="@Model.customer.CreateDate" />

                                <div class="myaccount-form-inner">
                                    <div class="single-input single-input-half">
                                        <label asp-for="@Model.customer.FullName" class="control-label"></label>
                                        <input asp-for="@Model.customer.FullName" class="form-control" readonly />
                                        <span asp-validation-for="@Model.customer.FullName" class="text-danger"></span>
                                    </div>
                                    <div class="single-input single-input-half">
                                        <label asp-for="@Model.customer.Birthday" class="control-label"></label>
                                        <input asp-for="@Model.customer.Birthday" type="date" class="form-control" />
                                        <span asp-validation-for="@Model.customer.Birthday" class="text-danger"></span>
                                    </div>
                                    <div class="single-input single-input-half">
                                        <label asp-for="@Model.customer.Phone" class="control-label"></label>
                                        <input asp-for="@Model.customer.Phone" class="form-control" />
                                        <span asp-validation-for="@Model.customer.Phone" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <label asp-for="@Model.customer.Address" class="control-label"></label>
                                        <input asp-for="@Model.customer.Address" class="form-control" />
                                        <span asp-validation-for="@Model.customer.Address" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <label asp-for="@Model.customer.Email" class="control-label"></label>
                                        <input asp-for="@Model.customer.Email" class="form-control" />
                                        <span asp-validation-for="@Model.customer.Email" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <label class="control-label">Địa Chỉ</label>
                                        <select asp-for="@Model.customer.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                                        <span asp-validation-for="@Model.customer.LocationId" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <label asp-for="@Model.customer.LastLogin" class="control-label"></label>
                                        <input asp-for="@Model.customer.LastLogin" class="form-control" readonly />
                                        <span asp-validation-for="@Model.customer.LastLogin" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                                            <span>SAVE CHANGES</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                        <div class="myaccount-orders">
                            <h4 class="small-title">Danh sách đơn hàng</h4>
                            @await Html.PartialAsync("_DonHangPartialView",Model.OrderList) 
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                        <div class="myaccount-address">
                            <p>The following addresses will be used on the checkout page by default.</p>
                            <div class="row">
                                <div class="col">
                                    <h4 class="small-title">BILLING ADDRESS</h4>
                                    <address>
                                        1234 Heaven Stress, Beverly Hill OldYork UnitedState of Lorem
                                    </address>
                                </div>
                                <div class="col">
                                    <h4 class="small-title">SHIPPING ADDRESS</h4>
                                    <address>
                                        1234 Heaven Stress, Beverly Hill OldYork UnitedState of Lorem
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
                        <div class="myaccount-details">
                            <form method="Post" asp-controller="Profile" asp-action="ChangePassword" class="myaccount-form">
                                <input type="hidden" asp-for="@Model.changepass.CustomerId" />
                                <div class="myaccount-form-inner">
                                    <div class="single-input">
                                        <label class="control-label">Password cũ</label>
                                        <input asp-for="@Model.changepass.Passsword" class="form-control" />
                                        <span asp-validation-for="@Model.changepass.Passsword" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <label class="control-label">Password mới</label>
                                        <input asp-for="@Model.changepass.NewPassword" class="form-control" />
                                        <span asp-validation-for="@Model.changepass.NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <label class="control-label">ConfirmPassword</label>
                                        <input asp-for="@Model.changepass.ConfirmNewPassword" class="form-control" />
                                        <span asp-validation-for="@Model.changepass.ConfirmNewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="single-input">
                                        <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                                            <span>SAVE CHANGES</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}