@model e_commerce_web.Data.ViewComponents.SocailVM

<div class="social-link align-items-center pb-lg-8">
    <span class="title pe-3">Liên hệ:</span>
    <ul class="social-icons list-unstyled list-inline mb-0">
        <li class="list-inline-item"><a href="@Model.Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Twitter"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Instagram"><i class="fa fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Pinterest"><i class="fa fa-pinterest"></i></a></li>
        <li class="list-inline-item"><a href="@Model.Youtube"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
</div>