@model IEnumerable<e_commerce_web.Models.Customer>

@{
    ViewData["Title"] = "Danh Mục Account";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách Accounts</h1>

<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 180px;" id="roleID" asp-items="ViewBag.RoleName">
                            <option label="LỌC THEO ROLE"></option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 180px;" id="status">
                            <option label="Status"></option>
                            <option value="Active">Active</option>
                            <option value="Block">Block</option>
                        </select>
                    </div>
                    <div>
                        <a class="btn btn-success" href="/Admin/Accounts/Index">All</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" href="/Admin/Accounts/Create">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Add Account</span>
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Active</th>
                        <th>FulllName</th>
                        <th>LastLogin</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acc in Model)
                    {
                        <tr>
                            <td>
                                @acc.CustomerId
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">@acc.Phone</h6>
                                </div>
                            </td>
                            <td>@acc.Email</td>
                            <td>
                                <div class="d-flex align-items-center">

                                    @if (acc.Active == true)
                                    {
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>Active</div>
                                    }
                                    else
                                    {
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>Block</div>
                                    }
                                </div>
                            </td>
                            <td>@acc.FullName</td>
                            <td>@acc.LastLogin</td>
                            <td>@acc.Role.RoleName</td>
                            <td class="text-right">
                                <a class="btn btn-icon btn-hover btn-sm btn-rounded"
                                   href="/Admin/Accounts/Details/@acc.CustomerId">
                                    <i class="anticon anticon-info"></i>
                                </a>
                                <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right"
                                   href="/Admin/Accounts/Edit/@acc.CustomerId">
                                    <i class="anticon anticon-edit"></i>
                                </a>
                                <a class="btn btn-icon btn-hover btn-sm btn-rounded"
                                   href="/Admin/Accounts/Delete/@acc.CustomerId">
                                    <i class="anticon anticon-delete"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section  Scripts_Admin{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            jQuery("#roleID").change(function () {
                LiveSearch()
            });

            jQuery("#status").change(function () {
                LiveSearch()
            });

            function getUrlParameter(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            function LiveSearch() {
                var _roleID = $('#roleID').val();
                roleid = parseFloat(_roleID);

                var _status = $('#status').val();
                status = _status.toString();

                if (_roleID == "") {
                    var qsp = 'roleID';
                    roleid = getUrlParameter(qsp);
                }

                if (_status == "") {
                    var qsp_1 = 'status';
                    status = getUrlParameter(qsp_1);
                }

                $.ajax({
                    type: "GET",
                    url: '/Admin/Accounts/Filter',
                    datatype: "json",
                    data: {
                        roleID: roleid,
                        Status: status,
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            };
        });
    </script>
}