@using PagedList.Core.Mvc;
@using e_commerce_web.Extension;
@model PagedList.Core.IPagedList<e_commerce_web.Models.Product>

@{
    ViewData["Title"] = "Trang Sản Phẩm";
}

<div class="breadcrumb-area breadcrumb-dash" @*data-bg-image="/Userassets/images/breadcrumb/bg/1-1-1920x373.jpg"*@>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">Trang Sản Phẩm</h2>
                    <ul>
                        <li>
                            <a href="/">Home <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>Shop Pages</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-lg-1 order-2 pt-10 pt-lg-0">
                <div class="sidebar-area">

                    <!--Search-->
                    @await Component.InvokeAsync("LeftSide_SearchView")
                    <!--NewProduct-->
                    @await Component.InvokeAsync("NewProductView")
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 order-1">
                <div class="product-topbar">
                    <ul>
                        <li class="product-view-wrap">
                            <ul class="nav" role="tablist">
                                <li class="grid-view" role="presentation">
                                    <a class="active"
                                       asp-controller="Products" asp-action="Index"
                                       role="tab" aria-selected="true">
                                        <i class="fa fa-th"></i> All
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="page-count">
                            <span></span>Kết quả tìm kiếm<span> @ViewBag.Count</span>
                        </li>
                        <li class="short">
                            <select class="nice-select wide rounded-0" id="catID">
                                <option value="1">Sort by High Price</option>
                                <option value="2">Sort by Low Price</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-content text-charcoal pt-8">
                    <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                        <div class="product-grid-view row">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    string url = $"/san-pham/{@item.Alias}.html";
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="@url">
                                                    <img class="img-full" src="@item.Thumb" width="300" height="270" alt="Product Images">
                                                </a>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="@url">@item.ProductName</a>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">
                                                        @item.Price.Value.ToVND()
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <!--Phân trang-->
                <div class="pagination-area pt-10">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" list="@Model"
                                   options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext"
                                   asp-action="Index"
                                   asp-controller="Products"
                                   asp-route-keySearch="@ViewBag.KKK"
                                   asp-route-page="@ViewBag.CurrentPage"
                                   asp-route-catID="@ViewBag.CATE_ID"
                                   asp-route-sortOrder="@ViewBag.SortPrice"
                                   asp-route-Cat="@ViewBag.Cat"
                                   asp-route-A="@ViewBag.A"
                                   asp-route-B="@ViewBag.B" />
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
    <!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
    <script>
        // checkbox check 1 cái
        $('input[type="checkbox"]').on('change', function () {
            $('input[type="checkbox"]').not(this).prop('checked', false);
        });

            // price slider
        var $range = $(".js-range-slider"),
                $inputFrom = $(".js-input-from"),
                $inputTo = $(".js-input-to"),
                instance,
                min = 0,
                max = 1000,
                from = 0,
                to = 0;

        $range.ionRangeSlider({
            skin: "round",
            type: "double",
            min: min,
            max: max,
            from: @ViewBag.A,
            to: @ViewBag.B,
            onStart: updateInputs,
            onChange: updateInputs,
            postfix:'k'
        });
        instance = $range.data("ionRangeSlider");
        function updateInputs(data) {
            from = data.from;
            to = data.to;

            $inputFrom.prop("value", from);
            $inputTo.prop("value", to);
        }
        $inputFrom.on("input", function () {
            var val = $(this).prop("value");

            // validate
            if (val < min) {
                val = min;
            } else if (val > to) {
                val = to;
            }

            instance.update({
                from: val
            });
        });
        $inputTo.on("input", function () {
            var val = $(this).prop("value");

            // validate
            if (val < from) {
                val = from;
            } else if (val > max) {
                val = max;
            }

            instance.update({
                to: val
            });
        });


    </script>

    <script>
        $("#catID").on('change', function () {
            var strkeyword = $('#LS').val();

            var Cat1 = $("input[name='Cat']:checked").val()

            var _catID = $('#catID').val();
            catid = parseFloat(_catID);

            $.ajax({
                type: "Get",
                url: 'Products/Filter',
                data: {
                    SortPrice : catid,
                    keyword: strkeyword,
                    LeftCat : Cat1,
                },
                datatype: "json",
                async: true,
                success: function (results)
                {
                    if (results.status == "success") {
                        window.location.href = results.redirectUrl;
                    }
                    // do something with response
                },
                error: function (response)
                {
                    // do something with response
                }
            });

        });
    </script>
}
