@using PagedList.Core.Mvc;
@using e_commerce_web.Extension;
@model PagedList.Core.IPagedList<e_commerce_web.Models.Product>

@{
    ViewData["Title"] = "Trang Sản Phẩm";
}

<div class="breadcrumb-area breadcrumb-dash" @*data-bg-image="/Userassets/images/breadcrumb/bg/1-1-1920x373.jpg"*@>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h2 class="breadcrumb-heading">Trang Sản Phẩm</h2>
                    <ul>
                        <li>
                            <a href="/">Home <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>Shop Pages</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="shop-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav product-tab-nav pb-10" id="myTab" role="tablist">
                    <!--All item fresh fruits-->
                    <li class="nav-item" role="presentation">
                        <a class="active" id="all-items-tab" data-bs-toggle="tab" href="#all-items" role="tab" aria-controls="all-items" aria-selected="true">
                            <div class="product-tab-icon">
                                <img src="~/Userassets/images/product/icon/1.png" alt="Product Icon">
                            </div>
                            All Items
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="fresh-fruits-tab" data-bs-toggle="tab" href="#fresh-fruits" role="tab" aria-controls="fresh-fruits" aria-selected="false">
                            <div class="product-tab-icon">
                                <img src="~/Userassets/images/product/icon/2.png" alt="Product Icon">
                            </div>
                            Trái cây nhập khẩu
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a id="vegetable-tab" data-bs-toggle="tab" href="#vegetable" role="tab" aria-controls="vegetable" aria-selected="false">
                            <div class="product-tab-icon">
                                <img src="~/Userassets/images/product/icon/3.png" alt="Product Icon">
                            </div>
                            Rau củ
                        </a>
                    </li>
                </ul>
                <div class="product-topbar">
                    <ul>
                        <li class="product-view-wrap">
                            <ul class="nav" role="tablist">
                                <li class="grid-view" role="presentation">
                                    <a class="active" id="grid-view-tab" data-bs-toggle="tab" href="#grid-view" role="tab" aria-selected="true">
                                        <i class="fa fa-th"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="page-count">
                            <span></span>Kết quả tìm kiếm<span> @ViewBag.Count</span>
                        </li>
                        <li class="short">
                            <select class="nice-select wide rounded-0">
                                <option value="1">Sort by Default</option>
                                <option value="2">Sort by Popularity</option>
                                <option value="3">Sort by Rated</option>
                                <option value="4">Sort by Latest</option>
                                <option value="5">Sort by High Price</option>
                                <option value="6">Sort by Low Price</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="tab-content text-charcoal pt-8">
                    <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                        <div class="product-grid-view row">
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    string url = $"/san-pham/{@item.Alias}.html";
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="product-item">
                                            <div class="product-img img-zoom-effect">
                                                <a href="@url">
                                                    <img class="img-full" src="@item.Thumb" width="300" height="270" alt="Product Images">
                                                </a>
                                                <div class="product-add-action">
                                                    <ul>
                                                        <li>
                                                            <a href="cart.html">
                                                                <i class="pe-7s-cart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <a class="product-name" href="@url">@item.ProductName</a>
                                                <div class="price-box pb-1">
                                                    <span class="new-price">
                                                        @item.Price.Value.ToVND()
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <!--Phân trang-->
                <div class="pagination-area pt-10">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <pager class="pager-container" list="@Model"
                                   options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext"
                                   asp-action="Index"
                                   asp-controller="Products"
                                   asp-route-keySearch="@ViewBag.KKK"
                                   asp-route-page="@ViewBag.CurrentPage"
                                   asp-route-catID="@ViewBag.CATE_ID"
                                   asp-route-sortOrder="@ViewBag.ID" />
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>